html {
  height:100%;
}

body,
h1 {
    margin: 0
}
.label_inner a,
h1 a {
    text-decoration: none
}
body {
    position:relative;
    width:620px;
    height:520px;
    padding:20px;
    margin:0;
    background: #55B2BF;
    font-family: 'Times New Roman'
}
a {
    color: #2B5E65
}
p {
    font-size: 15px;
    line-height: 1.5;
    margin: 0 0 1.5em
}
h1 a {
    color: inherit
}
.outer_container {
    float: left;
    width: 100%;
    padding: 10px 0;
    font-size: 15px;
}
.buttons button,
.textarea {
    font: inherit
}
.outer_container:nth-child(even) {
    background: #6DBDC9
}
.inner_container {
    max-width: 880px;
    margin: 0 auto;
    padding: 0 10px
}
.label_outer {
    float: left;
    width: 35%
}
.label_inner {
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis
}
.label_inner a {
    color: #000;
    border-bottom: 1px solid #2B5E65
}
.label_inner a:hover {
    background: #FEF200
}
.value_outer {
    float: right;
    width: 65%
}
.buttons {
    float: right;
    margin: 0 0 4px 4px
}
@media screen and (max-width: 480px) {
    .buttons {
        width: 100%;
        margin-bottom: 10px
    }
}
.textarea {
    background: rgba(255, 255, 255, .5);
    border: transparent;
    line-height: 1.2;
    height: 4.8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box
}
.textarea:focus {
    outline: 0;
    background: rgba(255, 255, 255, .9)
}
.outer_container.footer {
    background: #fff
}
.outer_container.footer ul {
    padding: 0 0 0 1em
}

.boost {
  margin: 5px;
	cursor: pointer;
}
