.navbar-nav a{
    font-size: 16px;
}
/*
     FILE ARCHIVED ON 14:02:31 Oct 23, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:33:37 Sep 04, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 109.139
  exclusion.robots: 0.175
  exclusion.robots.policy: 0.168
  cdx.remote: 0.055
  esindex: 0.009
  LoadShardBlock: 79.769 (3)
  PetaboxLoader3.datanode: 106.139 (4)
  CDXLines.iter: 11.231 (3)
  load_resource: 101.051
  PetaboxLoader3.resolve: 46.366
*/
